:root {
    --left-container-width: 25vw;

    --border-valid: 2px solid green;
    --border-invalid: 2px solid red;
    --logo-height:clamp(2rem,25vh,9rem);
}

@font-face {
    font-family: "Norsebold";
    src: url("./font/Norse-Bold.otf") format("opentype");
    font-weight: normal;
    font-size: normal;
}   

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}


.main {
    display: flex;
    justify-content: space-around;
    
}

/* hero logo */
.left-container {
    background-image: url(./img/halie-west-25xggax4bSA-unsplash.jpg);
    width: var(--left-container-width);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
   
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 0, 0, .5);
}

img + p {
    font: 5em "Norsebold",monospace;
    color: gold;
}

img {
    height: var(--logo-height);
}

/* form */

input, label {
    display:block;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 60vh;
    max-width: 50vw;
   
}

.row {
    display: flex;
    gap: 50px;
}

.intro > p {
    margin-left: 25px;
    
    font-size: 1.5em;
    font-weight: bold;
}

input[type="text"]:valid,
input[type="email"]:valid,
input[type="tel"]:valid {
    border: var(--border-valid);
}

input[type="text"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid {
    border:var(--border-invalid);
}

/* password style */
input[type="password"].valid {
    border: 2px solid green;
}
input[type="password"].invalid {
    border: 2px solid red;
}
.no-before::before {
    display: none;
}

/* adding check mark */
input + span {
    position: absolute;
}

input + span::before {
    position: relative;
    right: -12rem;
    top: -1rem;
}

input[type="text"]:invalid + span::before,
input[type="email"]:invalid + span::before,
input[type="tel"]:invalid + span::before {
    content: "x";
    color: red;
}
input[type="text"]:valid + span::before,
input[type="email"]:valid + span::before,
input[type="tel"]:valid + span::before{
    content: "✓";
    color: green;
}